.mainNavbar-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #d83f63;
    text-align: center;
    text-decoration: none; /* Removes the underline */
    border: none; /* Remove default border */
    border-radius: 4px;
    align-items: center;
    display: flex;

}

.mainNavbar-button:hover {
    background-color: #d83f63; /* Darker blue on hover */
}

.mainNavbar-button:active {
    background-color: #d83f63; /* Even darker blue when clicked */
}
