
.view-head h1{
    font-size: 36px;
    margin-bottom: 24px;
    line-height: 46px;
    font-weight: 700;
    padding-left: 20px;
}

.all-cards-latest-articale{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}
.la-card{
    height: 498px;
    width: 386px;
}
/* --------------------------------tablet view-------------------------- */
@media screen and (max-width:768px) {
    
    .la-card{
        height: 450px !important;
        width: 303px !important;
    }
}
    /* --------------------------------tablet view-------------------------- */
