
.innerHero{
    background: #3e3552 url(../../../Assets/Images/logo-bg.png) no-repeat right bottom;
    padding: 90px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.innerHero h1{
    font-size: 45px;
    margin-bottom: 24px;
    line-height: 55px;
    font-weight: 700;
    color: white;
    max-width: 50%;
}

.innerHero p{
    color: white;
    max-width: 50%;
    font-weight: 500;
}

/* articale part here */

.articale-wrapper{
    padding: 20px 0;
    background-color:#eff0f0;
    border-radius: 0;
    margin: 0;
}

#topic{
    width: 300px;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
}

#Content-Type{
    width: 300px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
}
/* btn filter */
.filter-hero-all-input{
    margin-right: 25px;
}

/* seacrh bar  */
.search-hero-all-inputs{
    margin-left: 24px;
}

.template-btn{
    border: 1px solid #d83f63;
    color: #d83f63;
    padding: 0 32px;
    border-radius: 5px;
    height: 55px;
    font-weight: 700;
    font-size: 20px;
    /* margin-right: 20px; */
}

.template-btn:hover{
    background-color: #d83f63;
    color: white;
}

/*----------------------------------- Tablet view------------------------------------------- */
@media screen and (max-width: 768px) {
    .hero-all-input{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}
/*----------------------------------- Tablet view ends-------------------------------------- */

/*----------------------------------- Mobile view------------------------------------------- */
@media screen and (max-width:450px) {
    .hero-all-input{
        justify-content: center;
    }
    .filter-hero-all-input{
        margin-right: 0px;
    }
    .search-hero-all-inputs{
        margin-left: 0px;
    }
}
/*----------------------------------- Mobile view ends-------------------------------------- */
