

.Ceo{
    background-color: #3E3552;
    padding: 40px 0px;
}
.ceo-speach-image{
    display: flex;
    padding: 60px;
   /* gap: 50px; */
}
.ceo-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Ceo-speach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.Ceo-speach span{
    width: fit-content;
}
.Ceo-speach p{
    color: white;
    padding-bottom: 20px;
}
/* .container{
    overflow-x: hidden;
} */

/* -------------------------------Tablet View--------------------------------- */
@media screen and (max-width: 768px) {
    .ceo-speach-image {
        display: flex;
        padding: 60px;
        gap: 50px;
        flex-direction: column;
    }
    .ceo-image {
        width: 550px;
        height: 514px;
    }
    .Ceo-speach {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        align-items: center;
    }
    
}
/* -------------------------------Tablet View ends----------------------------- */

/* --------------------------------Mobile View--------------------------------- */

@media screen and (max-width:450px) {
    .ceo-speach-image{
        padding: 90px;
        gap: 0;
    }
    .Ceo-speach{
        display: block;
        padding-left: 20px;
    }
    .Ceo-speach span{
        width: fit-content;
        display: block;
    }
}
/* --------------------------------Mobile View--------------------------------- */