
.recruitment-part{
    padding: 90px 0px;
}

/* Content part here */
.recruitment-content{
    text-align: center;
    max-width: 900px;
    margin: 0 auto 48px auto;
}

.recruitment-content h1{
    font-size: 36px;
    margin-bottom: 24px;
    line-height: 46px;
    font-weight: 700;
}
.recruitment-content p{
    margin-bottom: 20px;
    font-weight: 500;
}

/* src/CardSlider.css */
/* src/style.css */

.recruitment-part {
    /* Your existing styles */
  }
  
  .card-slider {
    padding: 0 20px; /* Optional: Adjust padding as needed */
  }
  
  .card {
    padding: 10px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .slick-slide {
    padding: 0 10px; /* Adjust space on both sides of each slide */
  }
  
  .slick-dots {
    bottom: -30px;
  }
  .slick-arrow{
    border: 1px solid black;
    background-color: black;
    color: black;
    opacity: .5;
  }
  .slick-prev{
    left: -70px;
    border: 1px solid black;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    color: black;
    text-align: center;
    font-size: 0;
    transition: all 0.3s ease-in-out;
    background-color: black;
    /* margin-top: 130px; */
    display: block !important;
    /* line-height: 40px; */
    position: absolute;
  }
  .slick-next{
    right: -70px;
    border: 1px solid black;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    color: black;
    text-align: center;
    font-size: 0;
    transition: all 0.3s ease-in-out;
    background-color: black;
    /* margin-top: 130px; */
    display: block !important;
    /* line-height: 40px; */
    position: absolute;
  }
  .slick-prev, .slick-next {
    z-index: 1;
  }

  /* button */
  /* src/style.css */
/* src/style.css */
/* src/style.css */

