
/* background color */
.footer{
    background-color:#3e383f ;
    color: white;
}
/* go beyond  */
.go-beyond{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* go beyond text */
.go-beyond-text{
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    /* margin-bottom: 24px; */
    display: block;
    font: bold;
}
/* go beyond btns */
.go-beyond-both-btns{
    display: flex;
    gap: 30px;
}
/* footer all- nav */
.all-nav{
    padding: 52px 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* footer main-nav */

.main-nav-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 0px;
}
/* Inside of main-nav nav-social */
.nav-social{
    width:fit-content;
    display: flex;
    gap: 20px;
}
.nav-social a{
    color: white !important;
}
/* main-nav ends here */
/* nav-items */

.nav-items-laptop ul{
    margin-top: 16px;
}
.nav-items-laptop ul li{
    margin-bottom: 8px;
}
/* nav item mobile */
.nav-items-mobile{
    display: none;
}
/* all nav ends here */
/* Footer bottom starts here*/
.footer-bottom{
    padding: 30px 0px;
}
.copy-right{
    font-size: 14px;
    display: flex;
    align-items: center;
    display: flex;
}
.footer-bottom-content{
    display: flex;
    justify-content: space-around;
}
.footer-btm-ul{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
/* Footer bottom ends here*/

/*------------------------------------Tablet View---------------------------------------------- */

@media  screen and (max-width: 768px) {
    .go-beyond {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        flex-direction: column;
        gap: 20px;
    }
}
/*------------------------------------Tablet View ends----------------------------------------- */



/* -------------------Mobile-View--------------------------------- */

@media screen and (max-width:450px) {
    .go-beyond-text{
        text-align: center;
    }
    .all-nav{
        flex-direction: column;
    }
    .main-nav{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .nav-items-laptop{
        display: none;
    }
    .nav-items-mobile{
        display: unset;
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    }
    /* footer btm */
    /* .copy-right{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    } */
    .footer-bottom{
        gap: 20px;
        display: flex;
        flex-basis: content;
        flex-direction: column;
    }
    .legal{
        font: bold;
        width: fit-content;
    }
    .footer-btm-ul{
        /* display: flex;
        gap: 10px;
        text-align: center;
        padding: 0px;
        font-size: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
        display: none;
    }
    .footer-bottom-content{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
    }

    /* Drop-down basic  */
    #dropdown-basic{
        background-color: #3E383F;
        border: none;    
    }

}

/* -------------------Mobile-View--------------------------------- */