/* #3E3552 */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;

}
.mbtn{
    font-size: 18px;
    padding: 0 32px;
    height: 56px;
    line-height: 56px;
    color: white;
    background-color: #d83f63;
    border-radius: 10px;
    font-weight: 700;
}
body {
    font-size: 16px;
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 26px;
    overflow-x: hidden;
}
.h1{
    font-weight: 700;
}
.h2{
    font-size: 45px;
    line-height: 58px;
    font-weight: 700;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0;
}
