
.Investing-content{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font: bold;
    margin-bottom: 48px;
    
}
.Investing-content span {
    color: #00909B;
}
.Investing-cards{
    width: 250px;
    height: 250px;
    padding: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    /* background: var(--grey) url(../img/color-line.png) bottom no-repeat; */
    background-size: 100% 4px;
    border-radius: 10px;
    background-color: #EFF0F0;
    position: relative;
    overflow: hidden;
}
.Investing-cards .dna-count{
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    color: #00909B;
}
.Investing-cards p{
    font-weight: 700;
    font-size: 18px;
    height: 62px;
    margin-bottom: 0px;
}
.Investing-all-cards{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.Investing-button-btn{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.Investing-button-btn button{
    font-size: 18px;
    padding: 0 32px;
    height: 56px;
    line-height: 56px;
    background-color: #d83f63;
    color: white;
    border-radius: 5px;
}
.InvestingTime{
    padding-bottom: 90px;
}

/* -------------------------------Tablet View--------------------------------- */
@media screen and (max-width: 768px) {
    .Investing-all-cards {
        display: flex;
        justify-content: space-around;
        gap: 24px;
        flex-wrap: wrap;
    }
    
}
/* -------------------------------Tablet View ends----------------------------- */
